{{define "base"}}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>RPS Game</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">New Game</a></li>
          <li><a href="/game">Game</a></li>
          <li><a href="/play">Play</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    {{ template "content" . }}
    <footer>Creao por Jhainey</footer>
  </body>
</html>
{{end}}
